<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si el archivo o carpeta existe, úsalo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Si no existe, envía todo a index.php pasando la ruta en el parámetro 'url'
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>