@import 'tailwindcss';

/* CONFIGURACIÓN DE FUENTES DE DATOS (v4)
   Ajustamos las rutas para que Tailwind encuentre tus archivos PHP 
*/
@source '../../../app/views/**/*.php';
@source '../../../app/modules/**/views/*.php';
@source '../../js/**/*.js';
@source '../../../node_modules/flowbite/**/*.js';

/* PLUGIN DE FLOWBITE */
@plugin 'flowbite/plugin';

@theme {
    --font-sans: 'Public Sans', system-ui, -apple-system, sans-serif;
    --color-primary: #c10007;
    --color-background: #120a0a;
}
